.v-page {
  height: calc(100vh - 36px);
  background-color: #F4F6FC;
}

.page-section-bd {
  padding: 0 10px;
  margin-top: 8px;

  &.has-simple-condition {
    height: calc(100vh - 100px);
  }
  &.has-condition {
    height: calc(100vh - 140px);
  }

  &.bd-scroll {
    height: calc(100% - 56px);
    overflow-y: scroll;

    &.not-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
}

.hide {
  display: none !important;
}


.v-form-dialog {
  .el-radio-button__orig-radio:disabled:checked+.el-radio-button__inner {
    color: rgba(22, 119, 255, .5);
  }
}